# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.egg
.eggs/

# Environments
.env
.venv
venv/
ENV/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store

infra/docker/docker/dynamodb/*